img {
  max-width: 100%;
  width: 50vw;
  height: auto;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-container {
  border: black 1px solid;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
